body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

a,
a:focus,
a:hover,
a:active {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
  overflow: hidden;
  .v-image {
    transition: all 0.5s ease 0s;
  }
  .v-image:hover {
    transform: scale(1.05);
  }
}
.transition-img {
  overflow: hidden;
  .v-image {
    transition: all 0.5s ease 0s;
  }
  .v-image:hover {
    transform: scale(1.1);
  }
}



div:focus {
  outline: none;
}

.section {
  position: relative;
  text-align: center;
  margin: 0 auto 100px auto;
}

.v-content__wrap {
  background-color: #fff;
}

// vuetify
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}